**/__pycache__/
.bst
.bst2
.cache/*
*.img
*.raw
*.tar
*.tar.gz
*.spdx.json
*.cyclonedx.json
grype-*.json
.sbom-source.oci
.scan-source.oci
dist/
.build-out
.worktrees/
.bst-re.conf
include/fsdk-version.yml
